@font-face {
  font-family: "openSauce";
  src: url("./assets/OpenSauceTwo-Regular.ttf");
}

@font-face {
  font-family: "openSauceBold";
  src: url("./assets/OpenSauceTwo-ExtraBold.ttf");
}

@font-face {
  font-family: "pakal";
  src: url("./assets/Pakal-Regular.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "openSauce", sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
